:root {
    --bgColor: #121212;
    --bgColor2: rgba(82, 75, 75, 0.1);
    --textColor: #572780;
    --borderColor: #272a80;
    --buttonColor: #57dcbe;
    --buttonHover: #38ef81;
}
.container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    border-bottom: 1px solid var(--borderColor);
    background-color: var(--bgColor2);
}
.name {
    color: var(--textColor);
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px var(--borderColor);
}
.logout {
    background: var(--buttonColor);
    padding: 5px 10px;
    color: var(--textColor);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s linear; 
}
.logout:hover {
    background-color: var(--buttonHover);
}